{% extends 'base.html.twig' %}

{% block title %}Hello AuthController!{% endblock %}

{% block body %}
    <h1>Inscription</h1>
    {{ form_start(formulaire) }}
        {{ form_row (formulaire.username) }}
        {{ form_row (formulaire.password) }}
        {{ form_row (formulaire.passwordConfirm) }}
        <button class="btn btn-primary" type="submit">Valider</button>
    {{ form_end(formulaire) }}
{% endblock %}